<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/styles.css">
    <title>Hardine Club</title>
</head>
<body>
    <%- include("partials/header.ejs") %>
    <main>
        <% if (locals.user) { %>
            <h1>Hello, <%= user.firstname %> <%= user.lastname %>!</h1>
            <br>
            <a href="/new-message"><button>NEW MESSAGE</button></a>
        <% } else { %>
            <h1>Welcome to Hardine Club!</h1>
            <p>Wanna post a message? Join the club <a href="/register">here!</a></p>
            <br>
        <% } %>
        <div class="message-container">
            <% locals.messages.forEach(message => { %>
                <div class="message-card">
                    <div class="info-container">
                        <% if (locals.user) { %>
                            <div class="user-icon">
                                <div class="user-icon-text"><%= message.username.charAt(0).toUpperCase() %></div>
                            </div>
                            <div><b><%= message.username %></b></div>
                            <% if (message.isadmin) { %>
                                <div>Administrator</div>
                            <% } else { %>
                                <div>Member</div>
                            <% } %>
                        <% } else { %>
                            <div class="user-icon">
                                <div class="user-icon-text">?</div>
                            </div>
                            <div><b>Club Member</b></div>
                            <div>???</div>
                        <% } %>
                    </div>
                    <div class="message-content-container">
                        <div class="message-content-title-container">
                            <div><%= message.message_title %></div>
                            <div class="timestamp-delete-container">
                                <% if (locals.user) { %>
                                    <div title=<%= message.timestamp %>><%= message.distancedTimeStamp %></div>
                                    <% if (locals.user) { %>
                                        <% if (user.isadmin) { %>
                                            <form action="/delete" method="post">
                                                <input type="hidden" name="messageId" value=<%= message.id %>>
                                                <button>delete</button>
                                            </form>
                                        <% } %>
                                    <% } %>
                                <% } else { %>
                                    <div>Login to see more message info</div>
                                <% } %>
                            </div>
                        </div>
                        <div class="message-content"><%= message.message_content %></div>    
                    </div>
                </div>
            <% }) %>
        </div>
        <% if (locals.user) { %>
            <% if (!user.isadmin) { %>
                <div>Psst.. Do you want to become an Administrator and gain elevated privileges? click <a href="/admin">here.</a></div>
            <% } %>
        <% } %>
    </main>
    <%- include("partials/footer.ejs") %>
</body>
</html>