<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hardine Club</title>
</head>
<body>
    <% if (locals.user) { %>
        <h1>Hello <%= user.firstname %> <%= user.lastname %>!</h1>
        <a href="/logout"><button>LOGOUT</button></a>
        <a href="/new-message"><button>NEW MESSAGE</button></a>
    <% } else { %>
        <h1>Welcome to Hardine Club</h1>
        <a href="/login"><button>LOGIN</button></a>
        <a href="/register"><button>REGISTER</button></a>
    <% } %>
    <% locals.messages.forEach(message => { %>
        <div><%= message.username %></div>
        <div><%= message.message_title %></div>
        <div><%= message.message_content %></div>
        <div><%= message.timestamp %></div>
    <% }) %>
</body>
</html>